/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/fraunces-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/fraunces-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/fraunces-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/manrope-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/manrope-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary: #24053e;
  --color-secondary: #44ffa1;
  --color-neutral: #ffffff;
  --color-neutral-shade: #f6f5f6;
  --color-text: #584d62;

  --primary-font-family: "Manrope", sans-serif;
  --secondary-font-family: "Fraunces", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  line-height: 1;
  color: var(--color-text);
  overflow-x: hidden;
}

.header {
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  --width: 71.25rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper--content {
  --width: 40rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  clip-path: ellipse(90% 100% at 50% 0);
  background-color: var(--color-primary);
}

.header__content {
  text-align: center;
}

.heading__primary {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--color-neutral);
  margin-bottom: 2rem;
}

.header__special {
  border-bottom: 3px solid var(--color-secondary);
}

.decoration {
  position: absolute;
}

.decoration--left {
  top: 98px;
  left: -135px;
}

.decoration--right {
  top: 320px;
  right: -60px;
}

.section-features {
  position: relative;
  padding: 24rem 0 12rem;
  margin-top: -15rem;
}

.section-features.bg::after {
  z-index: -2;
  height: 100%;
  background-color: var(--color-neutral-shade);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature__number-container {
  --size: 3rem;
  align-self: center;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.feature__number {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 1.125rem;
}

.feature__title {
  font-family: var(--secondary-font-family);
  color: var(--color-primary);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.feature__description {
  line-height: 1.6;
}

.section-cta {
  padding: 6rem 0;
}

.wrapper--cta {
  --width: 34rem;
}

.cta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 1fr;
  position: relative;
}

.cta picture {
  grid-column: 1/2;
  grid-row: 1/2;
  transform: translate(-60%, -70%);
}

.cta__content {
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  background-color: var(--color-primary);
  padding: 2rem;
}

.cta__title {
  font-family: var(--secondary-font-family);
  color: var(--color-neutral);
  font-size: 2.074rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.cta__description {
  line-height: 1.6;
  color: var(--color-neutral);
  margin-bottom: 2.5rem;
}

.decoration--cta {
  bottom: -130px;
  right: 0;
}

.footer {
  padding: 2rem 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link:link,
.link:visited {
  --transition-duration: 300ms;
  display: inline-block;
  text-decoration: none;
}

.link--navigation:link,
.link--navigation:visited {
  font-size: 1.125rem;
  color: var(--color-neutral);
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--color-secondary);
}

.link--cta:link,
.link--cta:visited {
  font-size: 1.125rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 1.125rem 1.75rem;
  margin-bottom: 4rem;
  font-weight: 500;
  border: 2px solid var(--color-secondary);
  transition: var(--transition-duration);
}

.link--cta:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

@media (max-width: 53rem) {
  .decoration {
    display: none;
  }

  .wrapper--features {
    --width: 30rem;
  }

  .section-features {
    padding-bottom: 6rem;
  }

  .section-features.bg::after {
    clip-path: ellipse(130% 100% at 50% 0);
  }

  .features {
    grid-template-columns: 1fr;
  }

  .feature {
    flex-direction: row;
    text-align: left;
    gap: 2rem;
  }

  .feature__number-container {
    margin-bottom: 0;
  }

  .section-cta {
    padding-top: 10rem;
  }

  .cta picture {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/4;
    transform: translate(0, -80%);
  }
}

@media (max-width: 31rem) {
  .heading__primary {
    font-size: 2.75rem;
  }

  .link--cta:link,
  .link--cta:visited {
    margin-bottom: 3.5rem;
    padding: 1rem 1.5rem;
  }

  .bg::after {
    clip-path: ellipse(130% 100% at 50% 0);
  }

  .section-features {
    padding-top: 20rem;
  }

  .feature {
    flex-direction: column;
    text-align: center;
  }

  .cta__content {
    text-align: center;
  }

  .cta__title {
    font-size: 1.728rem;
  }
}

@media (max-width: 23rem) {
  .heading__primary {
    font-size: 2.5rem;
  }

  .header__image {
    width: 100%;
  }
}
