/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/fraunces-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/fraunces-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/fraunces-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/manrope-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/manrope-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary: #24053e;
  --color-secondary: #44ffa1;
  --color-neutral: #ffffff;
  --color-text: #584d62;

  --primary-font-family: "Manrope", sans-serif;
  --secondary-font-family: "Fraunces", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  line-height: 1;
  color: var(--color-text);
  overflow-x: hidden;
}

.header {
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  --width: 71.25rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper--content {
  --width: 40rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  clip-path: ellipse(90% 100% at 50% 0);
  background-color: var(--color-primary);
}

.header__content {
  text-align: center;
}

.header__image {
  width: 100%;
}

.heading__primary {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--color-neutral);
  margin-bottom: 2rem;
}

.header__special {
  border-bottom: 3px solid var(--color-secondary);
}

.decoration {
  position: absolute;
}

.decoration--left {
  top: 98px;
  left: -135px;
}

.decoration--right {
  top: 320px;
  right: -60px;
}

.link:link,
.link:visited {
  --transition-duration: 300ms;
  display: inline-block;
  text-decoration: none;
}

.link--navigation:link,
.link--navigation:visited {
  font-size: 1.125rem;
  color: var(--color-neutral);
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--color-secondary);
}

.link--cta:link,
.link--cta:visited {
  font-size: 1.125rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 1.125rem 1.75rem;
  margin-bottom: 4rem;
  font-weight: 500;
  border: 2px solid var(--color-secondary);
  transition: var(--transition-duration);
}

.link--cta:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

@media (max-width: 49rem) {
  .decoration {
    display: none;
  }
}

@media (max-width: 31rem) {
  .heading__primary {
    font-size: 2.75rem;
  }

  .link--cta:link,
  .link--cta:visited {
    margin-bottom: 3.5rem;
    padding: 1rem 1.5rem;
  }

  .header::after {
    clip-path: ellipse(130% 100% at 50% 0);
  }
}

@media (max-width: 23rem) {
  .heading__primary {
    font-size: 2.5rem;
  }
}
